*{
    margin: 0%;
    padding: 0%;
    background-color: black;
}


.navbar{
    height: 15vh;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;





    img{
        margin-left: 150px;
    }


    ul{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: 310px;



        li{
                 background-color: #bab0b048;
            border-radius: 5px;
            padding: 4px 10px;
            list-style: none;
            cursor: pointer;

            &:hover{
            background-color: #bab0b054;
            background-color: #a88d21e0;
            

            }
        }
    }


    button{
        font-family: 'Courier New', Courier, monospace;
        padding: 6px 15px;
        border-radius: 7px;
        cursor: pointer;
        margin-left: 420px;
        color: white;
        border: 2px solid white;

        &:hover{
            background-color: #a88d21e0;
        }
    }
}

.mid{
    display: flex;

    .first{
        width: 15%;
       

        .logo{
            margin-left: 200px;
            font-size: 20px;
             color: white;
            line-height: 40px;
            margin-top: 200px;
            cursor: pointer;

        }

    }

 
    .sec{
        width: 35%;
        color: white;

        h3{
            font-family: 'Courier New', Courier, monospace;
            margin-left: 50px;
            margin-top: 130px;
        }

        h1{
            font-size: 65px;
            font-weight: 900;
            margin-left: 50px;
            margin-top: 30px;
        }

        h2{
            margin-left: 50px;
            font-size: 17px;
            line-height: 22px;
        }



        .th{
            color: white;
            margin-top: 50px;
            display: flex;
            align-items: center;


            button{
                /* border: 2px solid white; */
                background-color: #e7bf21d7;
                border: none;
                border-radius: 5px;
                color: white;
                padding: 8px 10px;
                margin-left: 50px;
                display: flex;
                align-items: center;
                font-weight: 700;
                cursor: pointer;

                &:hover{
                    background-color: #615010ee;
                }
            }

            h4{
                margin-left: 25px;
                font-weight: 900;
                font-size: 25px;
            }
        }

    }

    .third{
        height: auto;
        width: 50%;


        img{
            height: 90%;
            width: 80%;
            margin-top: 40px;
            margin-left: 60px;
        }


        h4{
             font-family: 'Courier New', Courier, monospace;
            margin-left: 620px;
            color: white;
        }
        
    }

}